@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Rationale&display=swap");

:root {
  --purple-gradient: linear-gradient(90deg, #882162, #83227b, #7d2495);
  --purple-color: #6d28d8;
  --blue-gradient: linear-gradient(90deg, #391862, #0c8db2, #346e86);
  --red-color: #dd1025;
  --background-dark: #050506;
  --background-lightdark: #0a0a0b;
  --text-color: #818188;
  --purple-gradient-dark: linear-gradient(90deg, #6d28d8, #6425be);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--purple-color) var(--background-dark);
}

body {
  background-color: var(--background-dark);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--purple-color);
  border-radius: 10px;
  border: 3px solid var(--background-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}
